.fp-form{
    width:450px;
}

.fp-main{
    display:flex;
    justify-content:center;
    padding-top:10rem;
    height:100vh;
    background-color:#423F3E;
}

.fp-reset-button{
    width:100%;
    margin-top:20px;
}

.rp-error{
    color:rgb(245, 81, 81);
}

@media (max-width: 800px) {
    .fp-form{
        width:60vw;
    }
}