.logo-navbar{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:35px;
}

.navbar-main{
    padding-right:5rem;
    padding-left:5rem;
    padding-top:2rem;
}

button{
    padding:0.5rem 1rem;
    border:none;
    border-radius:20px;
}

.navbar-login{
    background-color:#007bff;
    color:white;
}

.navbar-login:hover{
    background-color:#0056b3;
}

.navbar-logout{
    background-color:rgb(240, 105, 105);
    color:white;
}

